.navbar-default {
    position: relative;
    margin-bottom: 0;
}

.jumbotron{
	margin-bottom:1px;
}

.jumbotron.head{
	border-radius:0px;
	background-image: url({%static "../images/mainimg.png"%});
	margin-left:1px;
	margin-right:1px;
}

.jumbotron.elements:nth-child(3n){
	background-color:#9effcb;
}


.jumbotron.elements:nth-child(3n-1){
	background-color:#9ec9ff;
}

.jumbotron.elements:nth-child(3n-2){
	background-color:#ffe99e;
}

.mainimg { 
   position: relative; 
   background-color: black;
   width: 99%; /* for IE 6 */
}

.myimg{
	opacity:0.4;
}

.txtinimg { 
   color: white;
   position: absolute; 
   top:30%;
   left:17%;
   text-align: center;
}